@import "variables";
@import "mixins";

* {
  margin: 0px;
  background-color: white;
  font-family: helvetica;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 60px;
  background-color: $black;
  p {
    color: white;
    background-color: $black;
    align-self: center;
  }
  p .logo{
    height: 30px;
    width: 40px;
  }
  #tickets {
    margin-right: 20px;
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  .hero-headline {
    margin-top: 20px;
    align-self: center;
  }
  .hero-headline-title {
    padding-top: 5px;
    height: 80px;
    background-color: $black;
    h2 {
      @include hero-font(35px);
      margin-left: 15px;
      color: white;
      background-color: $black;
      height: 40px;
    }
    h2:hover {
      text-decoration: underline;
    }
    p {
      margin: 5px 0 0 15px;
      color: gray;
      background-color: $black;
    }
  }
  .hero-under {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .under-article {
      @include under-article-size;
      margin: 8px 8px;
      h3 {
        @include hero-font(20px);
        color: white;
        padding: 5px 0 0 5px;
        background-color: $black;
        height: 60px;
      }
      h3:hover {
        text-decoration: underline;
      }
    }
    img {
      @include hero-under-img;
    }
  }
  .content {
    width: 550px;
    display: flex;
    flex-direction: row;
    // justify-content: center;
    margin-top: 20px;
    .headline-trends-column{
      display: flex;
      flex-direction: column;
    }

  }


}
