@import "variables";
@import "mixins";

* {
  margin: 0px;
  background-color: white;
  font-family: helvetica;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 60px;
  background-color: $black;
  p {
    color: white;
    background-color: $black;
    align-self: center;
  }
  p .logo{
    height: 30px;
    width: 40px;
  }
  #tickets {
    margin-right: 20px;
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  .hero-headline {
    margin-top: 20px;
    align-self: center;
  }
  .hero-headline-title {
    padding-top: 5px;
    height: 80px;
    background-color: $black;
    h2 {
      @include hero-font(35px);
      margin-left: 15px;
      color: white;
      background-color: $black;
      height: 40px;
    }
    h2:hover {
      text-decoration: underline;
    }
    p {
      margin: 5px 0 0 15px;
      color: gray;
      background-color: $black;
    }
  }
  .hero-under {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .under-article {
      @include under-article-size;
      margin: 8px 8px;
      h3 {
        @include hero-font(20px);
        color: white;
        padding: 5px 0 0 5px;
        background-color: $black;
        height: 60px;
      }
      h3:hover {
        text-decoration: underline;
      }
    }
    img {
      @include hero-under-img;
    }
  }
}

.content {
  // border: 2px solid red;
  width: 970px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;

  .my-teams-column {
    display: flex;
    flex-direction: column;
  }


  .my-teams-content {
    // border: 1px solid gray;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    p {
      @include hero-font(17px);
      font-weight: bold;
      align-self: center;
    }
    #bryce {
      width: 225px;
      height: 150px;
      justify-content: flex-start;
    }
    #report {
      padding: 65px 5px;
      border: 1px solid lightgray;
    }
  }
  .my-teams {
    display: flex;
    flex-direction: row;
    @include content-head;
    height: 35px;
    .my-teams-color {
      background-color: $teal-green;
    }
    h3 {
      padding-top: 10px;
      background-color: $teal-green;
      width: 150px;
      height: 35px;
      text-align: center;
    }
    p {
      margin: 10px 0 10px 10px;
      height: inherit;
      text-align: center;
    }
  }
  .my-teams-column {
    display: flex;
    flex-direction: column;
  }
  .headline-trends-column {
    display: flex;
    flex-direction: column;
    // height: 35px;
    .headlines-color {
      background-color: $teal-green;
      width: 150px;
      height: 35px;
    }
    .headlines {
      @include content-head;
    }
    h3 {
      padding: 10px;
      background-color: $teal-green;
      height: 25px;
      text-align: center;
    }
    p {
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 10px 0px;
      font-weight: bold;
      border-bottom: 1px solid gray;
    }
    p:hover {
      text-decoration: underline;
    }
    .trending-colors {
      width: 150px;
    }

  }

}

@media screen and (max-width: 968px) {
  * {
    margin: 0;
  }
  .hero-container {
    width: 100%;
    .hero-image {
      width: 100vw;
    }
    img {
      width: 100vw;
    }
    .under-article {
      width: 95vw;
      margin: auto;
      h3 {
        font-size: 15px;
      }
    }
  }
  .hide-nav {
    display: none;
  }
  .content {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
  }
}

@media screen and (max-width: 770px) {
  * {
    margin: 0;
  }
  .hero-container {
    display: flex;
    flex-direction: column;
  }
  .my-teams {
    align-self: center;
  }
  .hero-container .hero-under {
    display: flex;
    flex-direction: column;
  }
  .under-article {
    align-self: center;
    width: 100%; 
  }
}

@media screen and (max-width: 695px) {
  .hero-under {
    display: flex;
    flex-direction: column;

  }
  .content {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
  }
}

@media screen and (max-width: 620px) {
  .content {
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    align-items: center;
  }
  .my-teams {
    align-self: center;
  }
  .hide-author {
    display: none;
  }
  .hero-container img {
    width: 100vw;
  }
  .hero-under .under-article h3 {
    font-size: 15px;
  }

}
